.header {
  width: 100%;
  /* background-color: aqua;   */
  /* max-height: 250px; */
}

.header_phones {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* max-width: 300px; */
  white-space: nowrap;
  padding-left: 30%;
  padding-right: 30%;
}

.header_phones a {
  display: block;
  padding-right: 10px;
}
.header_menu {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  height: 50px;
}

.header_menu_list {
  display: flex;
  list-style: none;
}
.header_menu_item {
  margin-left: 20px;
  text-transform: uppercase;
}

.header_menu_item::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e7e7e7;
  position: relative;
  top: -14px;
  right: 10px;
}

.header_adress_panel {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.header_search_panel {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.header_catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background-color: #fb9122;
  /* width: 40%; */
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.header_basket_icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-content: end;
}

.header_basket_icons a {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.header_logo {
  /* width: 280px; */
  /* width: 23%; */
}

.header_search_panel_icons {
  display: flex;
  flex-direction: row;
}

.header_phones_localozation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
