.sidebar-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    
}

.sidebar-phones a {
    display: block;
}

.sidebar-phones{
    display: flex;
    flex-direction: column;
    align-items: center;
}