.basket-hover {
  display: block;
  position: absolute;
  top: 220px;
  right: 0px;
  min-width: 300px;
  border: 2px solid #ebebeb;
  z-index: 1;
  background-color: #fff;
  animation-name: basket-hover;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  color: black;
}

.basket-item {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
.basket-image {
  width: 80px;
  height: 80px;
  border: 1px solid #b3b3b3;
}

.basket-item-info {
  display: flex;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

@keyframes basket-hover {
  from {
    right: -300px;
  }
  to {
    right: 0px;
  }
}
